<style type="text/css">
  
     
</style>
<div id="default" style="width: 90%;margin:auto; height: 400px; text-align: center; vertical-align: top;">

     <!-- <table style="width:100%">
              
              <tr>
                    <td style="width:80%">-->
                        <div id="buttons" style="display: inline ">

                        <% if User.current_user.activities_by_level("#{@facility_type}").include?("Register a record") && User.current_user.role != "Logistics Officer"%>

                              <div class="touch_btn" onmousedown="window.location = '/people/new_split'" >
                                <div class="icon">
                                       <i class="fa fa-edit"></i>
                                </div>
                                <div class="button_label">Register Person</div>
                                <div class="button_description">  Register person at facility.</div>

                                
                              </div>
                          <%end%>

                             <% if User.current_user.activities_by_level("#{@facility_type}").include?("View a record") %>

                                  <div class="touch_btn" onmousedown="window.location = '/people/view'" >
                                    <div class="icon">
                                           <i class="fa fa-users"></i>
                                    </div>
                                    <div class="button_label">View Records</div>
                                    <div class="button_description">  View registered record.</div>

                                    
                                  </div>
                            <%end%>

                            <div class="touch_btn"  onclick="window.location = '/reports/'"   >
                                          <div class="icon">
                                                 <i class="fa fa-bar-chart"></i>
                                          </div>
                                          <div class="button_label"> Reports</div>
                                          <div class="button_description">  System reports</div>

                                      
                              </div>


                              <% if User.current_user.activities_by_level("#{@facility_type}").include?("Activate User") or
                                      User.current_user.activities_by_level("#{@facility_type}").include?("Deactivate User") or
                                      User.current_user.activities_by_level("#{@facility_type}").include?("Create User") or
                                      User.current_user.activities_by_level("#{@facility_type}").include?("Update User") %>

                                    <div class="touch_btn"  onclick="window.location = '/users'"   >
                                          <div class="icon">
                                                 <i class="fa fa-users"></i>
                                          </div>
                                          <div class="button_label"> Manage Users</div>
                                          <div class="button_description">  Managing syatem users.</div>

                                      
                                    </div>

                              <%end%>

                                <% if User.current_user.activities_by_level("#{@facility_type}").include?("Change own password") %>

                                    <div class="touch_btn" onmousedown="window.location = '/users/my_account';" >
                                        <div class="icon">
                                               <i class="fa fa-gear"></i>
                                        </div>
                                        <div class="button_label">My Account</div>
                                        <div class="button_description">  Manage own account.</div>

                                      
                                    </div>
                                <% end %>
                        </div>

                    <!--
                    </td>
                    <td >      
                        <table id="stats">
                              <tr><th colspan="3">Statistics</th></tr>
                              <tr><td>Reported</td><td> :</td> <td id="reported">1000</td></tr>
                              <tr><td>Approved</td><td> :</td> <td id="approved">1000</td></tr>
                              <tr><td>Printed</td><td> :</td> <td id="approved">1000</td></tr>
                              <tr><td>Rejected</td><td> :</td> <td id="rejected">1000</td></tr>
                              <tr><td>Incomplete</td><td> :</td> <td id="incomplete">1000</td></tr>
                        </table>
                    </td>
              </tr>

      </table>-->
</div>

