
<style type="text/css">
  
     
</style>
<div id="default" style="width: 90%;margin:auto; height: 400px; text-align: center; vertical-align: top;">
                        <div id="buttons" style="display: inline ">

                        <% if User.current_user.activities_by_level("#{@facility_type}").include?("Register a record") && User.current_user.role != "Logistics Officer"%>

                              <div class="touch_btn" onmousedown="window.location = '/people/new_person_type'" >
                                <div class="icon">
                                       <i class="fa fa-edit"></i>
                                </div>
                                <div class="button_label">Register Person</div>
                                <div class="button_description">  Register person at facility.</div>

                                
                              </div>
                          <%end%>

                          <% if User.current_user.activities_by_level("#{@facility_type}").include?("View a record") %>

                                  <div class="touch_btn" onmousedown="window.location = '/people/search'" >
                                    <div class="icon">
                                           <i class="fa fa-search"></i>
                                    </div>
                                    <div class="button_label">Search Records</div>
                                    <div class="button_description">  Search cases </div>

                                    
                                  </div>
                          <%end%>

                          <% if User.current_user.activities_by_level("#{@facility_type}").include?("View a record")%>
                                <% if  SETTINGS['site_type'] == "dc" || SETTINGS['site_type'] == "remote"%>
                                  <div class="touch_btn" onmousedown="window.location = '/people/view'" >
                                    <div class="icon">
                                           <i class="fa fa-users"></i>
                                    </div>
                                    <div class="button_label">Active Records</div>
                                    <div class="button_description">All active records eDRS from facility and those entered at DRO</div>
                                  </div>

                                  <%else%> 

                                  <div class="touch_btn" onmousedown="window.location = '/people/view'" >
                                    <div class="icon">
                                           <i class="fa fa-users"></i>
                                    </div>
                                    <div class="button_label">Sent Records to DC</div>
                                    <div class="button_description">All records eDRS from facility and those entered at DRO</div>
                                  </div>
                                <%end%>
                            <%end%>

                            <% if User.current_user.activities_by_level("#{@facility_type}").include?("View a record") %>
                                <%if @facility_type =='DC' %>
                                  <div class="touch_btn" onmousedown="window.location = '/dc/sync'" >
                                <%else%>
                                  <div class="touch_btn" onmousedown="window.location = '/people/sync'" >
                                <%end%>
                                    <div class="icon">
                                           <i class="fa fa-cloud"></i>
                                    </div>
                                    <div class="button_label">View Sync</div>
                                    <div class="button_description">The status of showing number of records sent to DC</div>
                                  </div>
                            <%end%>
                            <% if false %>
                               <div class="touch_btn"  onclick="window.location = '/reports'"   >
                                            <div class="icon">
                                                   <i class="fa fa-bar-chart"></i>
                                            </div>
                                            <div class="button_label"> Reports</div>
                                            <div class="button_description">  System reports</div>

                                        
                                </div>
                              <%end%>

                              <% if User.current_user.activities_by_level("#{@facility_type}").include?("Activate User") or
                                      User.current_user.activities_by_level("#{@facility_type}").include?("Deactivate User") or
                                      User.current_user.activities_by_level("#{@facility_type}").include?("Create User") or
                                      User.current_user.activities_by_level("#{@facility_type}").include?("Update User") %>

                                    <div class="touch_btn"  onclick="window.location = '/users'"   >
                                          <div class="icon">
                                                 <i class="fa fa-users"></i>
                                          </div>
                                          <div class="button_label"> Manage Users</div>
                                          <div class="button_description">  Managing syatem users.</div>

                                      
                                    </div>
                                    <div class="touch_btn" onmousedown="window.location = '/build_mysql_database?next_url=/';" >
                                        <div class="icon">
                                               <i class="fa fa-database"></i>
                                        </div>
                                        <div class="button_label">Build MySQL</div>
                                        <div class="button_description">  Manage own account.</div>

                                      
                                    </div>

                                <%end%>

                                <% if User.current_user.activities_by_level("#{@facility_type}").include?("Change own password") %>

                                    <div class="touch_btn" onmousedown="window.location = '/my_account';" >
                                        <div class="icon">
                                               <i class="fa fa-gear"></i>
                                        </div>
                                        <div class="button_label">My Account</div>
                                        <div class="button_description">  Manage own account.</div>

                                      
                                    </div>
                                <% end %>
                        </div>
</div>
<%= render :partial => "/dc/landing_resize" %>