<style type="text/css">
  
     
</style>
<div id="default" style="width: 90%;margin:auto; height: 400px; text-align: center; vertical-align: top;">
      <div id="buttons" style="display: inline ">
           <div class="touch_btn" onmousedown="window.location = '/people/new_split?registration_type=Natural Deaths'" >
            <div class="icon">
                <i class="fa fa-edit"></i>
            </div>
            <div class="button_label">Natural deaths</div>
                <div class="button_description"> </div>
          </div>
          <div class="touch_btn" onmousedown="window.location = '/people/new_split?registration_type=Unnatural Deaths'" >
            <div class="icon">
                <i class="fa fa-edit"></i>
            </div>
            <div class="button_label">Unnatural deaths</div>
                <div class="button_description"> </div>
          </div>
          <% if CONFIG['site_type'] == "facility" %>
          <div class="touch_btn" onmousedown="window.location = '/people/new_split?registration_type=Dead on Arrival'" >
            <div class="icon">
                <i class="fa fa-edit"></i>
            </div>
            <div class="button_label">Dead on Arrival</div>
                <div class="button_description"> </div>
          </div>
          <%end%>
          <div class="touch_btn" onmousedown="window.location = '/people/new_split?registration_type=Unclaimed bodies'" >
            <div class="icon">
                <i class="fa fa-edit"></i>
            </div>
            <div class="button_label">Unclaimed bodies</div>
                <div class="button_description"> </div>
          </div>

          <div class="touch_btn" onmousedown="window.location = '/people/new_split?registration_type=Missing Persons'" >
            <div class="icon">
                <i class="fa fa-edit"></i>
            </div>
            <div class="button_label">Missing Persons</div>
                <div class="button_description"> </div>
          </div>
          <div class="touch_btn" onmousedown="window.location = '/people/new_split?registration_type=Deaths Abroad'" >
            <div class="icon">
                <i class="fa fa-edit"></i>
            </div>
            <div class="button_label">Death abroad</div>
                <div class="button_description"> </div>
          </div>
      </div>
</div>
<%= render :partial => "/dc/landing_resize" %>