<form method="get" action="/people/new_split">
	<select name="registration_type" helpText ="Select Special Category" >
		<option value="Abnormal Deaths">Abnormal Deaths</option>
	 <% if SETTINGS['site_type'] == "facility" %>
		<option value="Dead on Arrival">Dead on Arrival(Brought in dead)</option>
	<%end%>
		<option value="Unclaimed bodies">Unclaimed bodies</option>
	<% if SETTINGS['site_type'] != "facility" %>
		<option value="Missing Persons">Missing Persons</option>
		<option value="Deaths Abroad">Deaths Abroad</option>
	<%end%>
	</select>
</form>