<form method="get" action="/people/new_split">
	<input type="hidden" id="form_type" name="form_type" value="<%= params[:form_type]%>">
	<select name="registration_type" helpText ="Select Special Case Category" >
		<option value="Abnormal Deaths">Abnormal Deaths</option>
	<% if params[:form_type] != 'NR-10C' %>
		<option value="Dead on Arrival">Dead on Arrival(Brought in dead)</option>
		<option value="Unclaimed bodies">Unclaimed bodies</option>
	<%end%>
	<% if SETTINGS['site_type'] != "facility" %>
		
		<% if params[:form_type] != 'NR-10C' %>
			<option value="Missing Persons">Missing Persons</option>
		<%end%>
		<option value="Deaths Abroad">Deaths Abroad</option>
	<%end%>
	</select>
</form>