<table>
	<tr><th colspan="10">Section 1: Particulars of the Deceased / Mbiri ya Omwalira</th></tr>
	<tr>
			<th>Part 1</th>
			<td >1</td>
			<td>Surname</td>
			<td></td>
			<td></td>
			<td ></td>
			<td>Other names</td>
			<td></td>
	</tr>
	<tr>
		<th rowspan="7">
			PERSONAL DETAILS OF DECEASED
		</th>
	</tr>
</table>