#app_header{

      width: 100%;

      border-bottom: 1px solid #959595;

      height: 70px;

      background:#dcdbdb;
}
#signout{

    background: #f4e4e8;

                    font-size: 3.8em;

                    min-width: 20px;

                    position: absolute;

                    border : 0.005em solid #b3b1b1;

                    right: 1%;

                    bottom:60px;

                    box-shadow: 2.5px 2.5px 1px #888888;

                    padding: 0.1%;

                    text-align: center;
              }
              #signout:hover{

                  cursor: pointer;

              }

               #back{
                    font-size: 3.8em;

                    min-width: 20px;

                    position: absolute;

                    right: 1%;

                    bottom:58px;

                    padding: 0.1%;

                    text-align: center;
              }

              #home_button{

                    background: #bed5de;

                    border : 0.005em solid #b3b1b1;

                    font-size: 3.5em;

                    min-width: 15px !important;

                    float: left;

                    margin: 0.3%;

                    height: 53px !important;

                    box-shadow: 2.5px 2.5px 1px #888888;

                    padding: 0.2%;

                    text-align: center;

              }
              #home_button:hover{

                  cursor: pointer;

              }

               .touch_btn{
                  color: #1c1c21;
                  padding: 0.5%;
                  padding-left: 5%;
                  padding-right: 5%;
                  border : 0.005em solid #b3b1b1;
                  border-radius: 0;
                  margin : 1.5%;
                  width: 125px;
                  height: 130px !important;
                  box-shadow: 3.5px 3.5px 1.5px #888888;
                  float: left;

              }
              .touch_btn:hover{

                  cursor: pointer;

              }
              .icon{

                    width: 100%;
                    height: 70px;
              }
              .icon img {

                    width: 50%;
              }
              .icon i {

                    font-size: 4em;
              }
              .button_label{

                      text-align: center;
                      font-size: 1.0em;
                      font-weight: bold;
                      width:125px;
              }
              .button_description{

                    text-align: center;
                    font-size: 12px;
                    font-style: italic;
                    width:100%;
                    display: none



              }
              #stats{

                  width: 95%;

                  border-collapse :collapse;

                  margin: auto;

                  border: 1px solid  #1c1c21;

                  box-shadow: 2.5px 2.5px 1px #888888;

              }

              #stats th {

                        padding: 0.5em;

                        font-size: 1.1em;

                        background: #9f9d9d;

              }

              #stats th {

                        padding: 0.5em;

                        font-size: 1.1em;

                        background: #8a8a8a;

              }
              #stats td{

                    padding: 0.5em;
              }
              #stats tr td:nth-child(1){

                   text-align: left;

              }
              #stats tr:nth-child(odd) {

                background-color:#eee;

              }
              #section{

                    font-size:1.2em;
                    text-align:center;
                    background :#ffffff; 
                    float:left;
                    height: 25px;
                    min-width:15%;
                    font-weight: bold;
                    padding: 0.45em; 
                    border : 0.005em solid #b3b1b1;
                    border-radius: 10px;
                    position: absolute;
                    left :1%;
                    bottom: 3%;


              }
              #table_container{

              }
              #table_container table{

                  width:  90%;
                  border-collapse :collapse;
                  margin : auto;
                  margin-top : 1%;

              }

              #table_container table th {

                    background: #424244;

                    color: #ffffff;

                    border : 1px solid #424244;

                    padding: 0.5em;

              }
              #table_container table td {

                    border : 1px solid #424244;

                    text-align: center;

              }

              #table_container table tr:nth-child(even) {

                background-color:#dbdada;

              }

              #pagination{

                width: 40%;

                margin: auto;

                border: 1px solid  #a09d9d;

                position: absolute; 

                bottom :60px;

                left:30%;

                background: #dbdada;

              }
              .prev {

                float: left;
              }
              .next {

                float:right;
              }

              .blue{

                height: 20px !important;
              }
              body, .button_label, .icon{
                  color: darkslategray;
              }

              .fa-home, .fa-signout{
                  max-height: 40px !important;
              }
              
