<script src="/javascripts/jquery.js" type="text/javascript"></script>
<style type="text/css">
  .dispatch{
      width: 100%;
      border-collapse: collapse;
  }

  .dispatch th {
    border : 1px solid lightgray;
    background: #4c79a3;
    color:#ffffff;
    padding: 0.8em;
    width:50%;
  }

  .dispatch td {
    border : 1px solid lightgray;
    width:50%;
  }
     
</style>
<div id="default" style="width: 90%;margin:auto; height: 400px; text-align: center; vertical-align: top;">
    <div style="width:45%;float:left;margin-left:2%">
        <h2>Scan Barcode</h2>
        <table>
          <tr>
              <td>
                  <input type="text" name="barcode" id="barcode" style="font-size: 250%">
              </td>
              <td>
                <button onclick="clearBarcode()">Clear</button>
              </td>
          </tr>
        </table>
        
    </div>
    <div style="width:45%;float:right;margin-left:2%">
        <h2>List Forms to dispatch</h2>
        <table class="dispatch">
            <thead>
                  <tr>
                      <th style="width:50%">Barcode</th>
                      <th  style="width:50%">Name</th>
                  </tr>
            </thead>
        </table>
        <div style="width:100%;height:500px;overflow-y:scroll;">
        <table class="dispatch" id="dispatches">

        </table>          
        </div>
    </div>
    <button id="finish" class="gray" style="position:absolute;right:10%;bottom:10%">Finish</button> 
    <button class="blue" style="position:absolute;right:3%;bottom:10%" onclick="window.location='/dc/manage_ccu_dispatch'">Back</button>                       
</div>
<%= render :partial => "landing_resize" %>
<script type="text/javascript">
      var  barcodeInterval;
      barcodeInterval = setInterval(function(){
            checkBarcode();
      },300);

      function checkBarcode(){
        var barcode_element = __$("barcode")
        var value = barcode_element.value;

        if (value.length == 0) {
            return;
        }else{
            if (value.match(/\$/)) {
              
                addRow(value.substring(0,value.length - 1));
                barcode_element.value = ""
            }
        }
      }

      var barcodes = [];

      function addRow(value){
          var button = __$("finish");
          button.className = "green";
          button.setAttribute("onclick","postBarcords()");
          console.log(button.className);
          $.getJSON("/find_by_barcode/"+value, function(data){
            if (barcodes.indexOf(value) >= 0 ) {

            }else{
              barcodes.push(value);
              var table = __$("dispatches");
              var tr = document.createElement("tr");

              var td = document.createElement("td");
              td.innerHTML = value;
              tr.appendChild(td);

              var td = document.createElement("td");
              td.innerHTML = data.first_name + " "+ data.last_name;
              tr.appendChild(td);            
              table.appendChild(tr);
            }

          });

      }


      function postBarcords(){
        $.post("/dispatch_barcodes",{"barcodes[]": barcodes },function(data){
              if (data == "ok") {
                window.location = "/"
              }
        });
      }

      function clearBarcode(){
        __$("barcode").value = ""
      }
</script>

