<form action="/confirm_not_duplicate" method="post">
	<input type="hidden" name="id" value="<%=params[:id]%>">
	<input type="hidden" name="audit_id" value="<%=params[:audit_id]%>">
	<input type="" name="comment" helpText="Comment or reason">
</form>