<style type="text/css">
  
     
</style>
<div id="default" style="width: 90%;margin:auto; height: 400px; text-align: center; vertical-align: top;">
    <div id="buttons" style="display: inline ">
      <div class="touch_btn" onmousedown="window.location = '/dc/potential_duplicates'" >
          <div class="icon">
              <i class="fa fa-folder-open"></i>
          </div>
          <div class="button_label">Resolve potential duplicate</div>
          <div class="button_description">  </div>
      </div>
       <div class="touch_btn" onmousedown="window.location = '/dc/confirmed_duplicated'" >
          <div class="icon">
              <i class="fa fa-folder-open"></i>
          </div>
          <div class="button_label">Voided duplicate cases</div>
          <div class="button_description"></div>
      </div>                       
    </div>
</div>
<%= render :partial => "landing_resize" %>
