<style type="text/css">
  
     
</style>
<div id="default" style="width: 90%;margin:auto; height: 400px; text-align: center; vertical-align: top;">

     <!-- <table style="width:100%">
              
              <tr>
                    <td style="width:80%">-->
                        <div id="buttons" style="display: inline ">

                            <% if User.current_user.activities_by_level("#{@facility_type}").include?("Register a record") && User.current_user.role != "Logistics Officer"%>

                              <div class="touch_btn" onmousedown="window.location = '/people/new_person_type'" >
                                <div class="icon">
                                       <i class="fa fa-edit"></i>
                                </div>
                                <div class="button_label">Register Person</div>
                                <div class="button_description">  Register record at DC's office</div>

                                
                              </div>
                            <%end%>

                             <% if !User.current_user.activities_by_level("#{@facility_type}").include?("Approve a record") %>

                                  <div class="touch_btn" onmousedown="window.location = '/people/view?next_url=/dc/manage_cases?next_url=/'" >
                                    <div class="icon">
                                           <i class="fa fa-folder-open"></i>
                                    </div>
                                    <div class="button_label">Active Records</div>
                                    <div class="button_description">  All active records eDRS from facility and those entered at DRO.</div>

                                    
                                  </div>
                            <%end%>

                             <% if User.current_user.activities_by_level("#{@facility_type}").include?("Approve a record") %>
                                  <% if  @facility_type == 'Remote' && !SETTINGS['include_lo_role']%>
                                    <div class="touch_btn" onmousedown="window.location = '/people/view'" >
                                      <div class="icon">
                                             <i class="fa fa-users"></i>
                                      </div>
                                      <div class="button_label">Active Records</div>
                                      <div class="button_description">All active records eDRS from facility and those entered at DRO</div>
                                    </div>

                                  <%else%> 
                                    <div class="touch_btn" onmousedown="window.location = '/dc/approve_cases?next_url=/dc/manage_cases?next_url=/'" >
                                        <div class="icon">
                                               <i class="fa fa-folder-open"></i>
                                        </div>
                                        <div class="button_label">Complete Cases from LO</div>
                                        <div class="button_description">  Approved registered record.</div>

                                        
                                      </div>
                                  <%end%>

                                  
                            <%end%>

                            <% if User.current_user.activities_by_level("#{@facility_type}").include?("View a record") %>

                                 <div class="touch_btn" onmousedown="window.location = '/dc/approved_cases?next_url=/dc/manage_cases?next_url=/'" >
                                      <div class="icon">
                                             <i class="fa fa-folder-open"></i>
                                      </div>
                                      <div class="button_label">Approved by ADR</div>
                                      <div class="button_description">View records that were approved by ADR and sent to HQ</div>

                                    
                                  </div>
                            <%end %>

                            <% if User.current_user.activities_by_level("DC").include?("Check completeness") &&User.current_user.role == "Logistics Officer" %>

                                 <div class="touch_btn" onmousedown="window.location = '/dc/pending_cases?next_url=/dc/manage_cases?next_url=/'" >
                                      <div class="icon">
                                             <i class="fa fa-folder-open"></i>
                                      </div>
                                      <div class="button_label">Pending Cases</div>
                                      <div class="button_description">Incomplete records waiting to be edited at LO.</div>

                                    
                                  </div>
                              <%end %>


                              <% if User.current_user.activities_by_level("#{@facility_type}").include?("View a record") && User.current_user.role == "ADR"%>

                                  <div class="touch_btn" onmousedown="window.location = '/dc/rejected_cases?next_url=/dc/manage_cases?next_url=/'" >
                                      <div class="icon">
                                             <i class="fa fa-folder-open"></i>
                                      </div>
                                      <div class="button_label">Rejected from HQ</div>
                                      <div class="button_description">  Incomplete records rejected from HQ along with comments.</div>

                                    
                                  </div>
                              <%end %>

                              <% if User.current_user.activities_by_level("#{@facility_type}").include?("View closed cases") %>

                                  <div class="touch_btn" onmousedown="window.location = '/dc/voided?next_url=/dc/manage_cases?next_url=/'" >
                                      <div class="icon">
                                             <i class="fa fa-folder-open"></i>
                                      </div>
                                      <div class="button_label">Voided Cases</div>
                                      <div class="button_description">All voided records along with comments and where it was voided.</div>

                                    
                                  </div>
                              <%end%>
                              <% if User.current_user.activities_by_level("#{@facility_type}").include?("View closed cases") %>
                              

                              <% if SETTINGS['decentralized_printing'] %>

                                   <div class="touch_btn" onmousedown="window.location = '/dc/printed?next_url=/dc/manage_cases?next_url=/'" >
                            <%else%>
                                   <div class="touch_btn" onmousedown="window.location = '/dc/closed?next_url=/dc/manage_cases?next_url=/'" >
                            <%end%>
                                      <div class="icon">
                                             <i class="fa fa-folder-open"></i>
                                      </div>
                                      <div class="button_label">View  Printed records</div>
                                      <div class="button_description"> All printed records but not dispatched.</div>

                                    
                                  </div>
                              <%end%>
                           

                              <% if User.current_user.activities_by_level("#{@facility_type}").include?("View closed cases") %>

                                  <div class="touch_btn" onmousedown="window.location = '/dc/dispatched?next_url=/dc/manage_cases?next_url=/'" >
                                      <div class="icon">
                                             <i class="fa fa-folder-open"></i>
                                      </div>
                                      <div class="button_label">Dispatched Note</div>
                                      <div class="button_description">Dispatched records with an option of viewing a copy of printed certificate.</div>

                                    
                                  </div>
                              <%end%>
                                <% if User.current_user.activities_by_level("#{@facility_type}").include?("View a record") %>

                                  <div class="touch_btn" onmousedown="window.location = '/people/sync'" >
                                    <div class="icon">
                                           <i class="fa fa-cloud"></i>
                                    </div>
                                    <div class="button_label">View Sync</div>
                                    <div class="button_description">The status of showing number of records sent to DC</div>

                                    
                                  </div>
                            <%end%>
                            
                        </div>
</div>
<%= render :partial => "landing_resize" %>