<form action="/dc/create_burial_report" method="post">
	<input type="hidden" name="id" value="<%= params[:id] %>">
	<input type="" name="cementry_authority_first_name" helpText ="Cementry Authority First Name">
	<input type="" name="cementry_authority_first_name" helpText ="Cementry Authority Last Name">
	<input type="" name="cementry_district" helpText ="District">
	<input type="" name="cementry_ta" helpText ="Traditional Authority">
	<input type="" name="cementry_village" helpText ="Village">
	<input type="date" name="date_burried" helpText ="Date Burried">
	<input type="date" name="date_report_signed" helpText ="Date Report Signed">
</form>