<script type="text/javascript">
	Object.defineProperty(Date.prototype, "format", {
	   value: function (format) {
	           var date = this;
	           var result = "";

	           if (!format) {

	                        format = ""

	           }

	            var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

	            var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September",
	                        "October", "November", "December"];

	            if (format.match(/YYYY\-mm\-dd/)) {

	                        result = date.getFullYear() + "-" + padZeros((parseInt(date.getMonth()) + 1), 2) + "-" + padZeros(date.getDate(), 2);

	            } else if (format.match(/mmm\/d\/YYYY/)) {

	                        result = months[parseInt(date.getMonth())] + "/" + date.getDate() + "/" + date.getFullYear();

	            } else if (format.match(/d\smmmm,\sYYYY/)) {

	                        result = date.getDate() + " " + monthNames[parseInt(date.getMonth())] + ", " + date.getFullYear();

	            } else {

	                        result = date.getDate() + "/" + months[parseInt(date.getMonth())] + "/" + date.getFullYear();

	            }

	                    return result;
	           }
	});
	function removeUnknown(){

			__$("Unknown").style.display ="none";
	}
	
	function setAjaxUrl(pos){
		switch(pos) {
			case 0:
				var district = __$('touchscreenInput' + tstCurrentPage).value;
				if(__$("ta")){
					__$("ta").setAttribute("ajaxURL","/tas?district="+district+"&search_string=");
				}
				break;
			case 1:
				var ta = __$('touchscreenInput' + tstCurrentPage).value;

				var district = __$('district').value

				__$("village").setAttribute("ajaxURL","/villages?district="+district+"&ta="+ta + "&search_string=")

				break;

		}
	}

	function validateDateBuried(){
			var value = (new Date(__$('touchscreenInput' + tstCurrentPage).value)).format("YYYY-mm-dd");
			var date_of_death = (new Date("<%=@person.date_of_death%>")).format("YYYY-mm-dd");
			if(date_of_death > value){
				showMessage("Date of burial can not be less than date of death");
				setTimeout(function(){
						gotoPage(tstCurrentPage -1);
				},100)
			}
	}

	function validateDateReportSigned(){
		var value = (new Date(__$('touchscreenInput' + tstCurrentPage).value)).format("YYYY-mm-dd");
		var date_of_burial = (new Date(__$("date_of_burial").value)).format("YYYY-mm-dd");
		if(date_of_burial > value){
				showMessage("Date of report signed can not be less than date of burial");
				setTimeout(function(){
						gotoPage(tstCurrentPage -1);
				},100)
		}
	}
	function validateDateReportGiven(){
		var value = (new Date(__$('touchscreenInput' + tstCurrentPage).value)).format("YYYY-mm-dd");
		var date_report_signed = (new Date(__$("date_report_signed").value)).format("YYYY-mm-dd");
		if(date_report_signed > value){
				showMessage("Date of report given can not be less than date report signed");
				setTimeout(function(){
						gotoPage(tstCurrentPage -1);
				},100)
		}
	}
</script>
<form action="/create_burial_report" method="post">
	<input type="hidden" name="next_url" value="<%=params[:next_url]%>">
	<input type="hidden" name="person_record_id" value="<%= params[:id] %>">
	<input type="" ajaxURL="/get_last_names?search=" name="cemetery_authority_last_name" helpText ="Surname (<i>Village Headman /Caretaker of cemetery</i>)">
	<input type="" ajaxURL="/get_first_names?search=" name="cemetery_authority_first_name" helpText ="First name (<i>Village Headman /Caretaker of cemetery</i>)">
	<input type="" name="cemetery_name" helpText="Cemetery name">
	<input type="" name="district" id="district" helpText ="Cemetery district" ajaxURL = "/districts?search_string=" tt_onUnLoad="setAjaxUrl(0)">
	<input type="" name="ta" id="ta" helpText ="Cemetery Traditional Authority/Town" tt_onUnLoad="setAjaxUrl(1)" allowFreeText ="true">
	<input type="" name="village" id="village" helpText ="Village" condition="false">
	<input type="date" id="date_of_burial" field_type="date" name="date_of_burial" helpText ="Date burried" tt_onLoad="removeUnknown()" tt_onUnLoad="validateDateBuried()">
	<input type="date" id="date_report_signed" field_type="date" name="date_report_signed" helpText ="Date Report signed"  tt_onLoad="removeUnknown()" tt_onUnLoad="validateDateReportSigned()">
	<input type="date" field_type="date" name="date_report_given" helpText ="Date Report given"  tt_onLoad="removeUnknown()" tt_onUnLoad="validateDateReportGiven()">
	<input type="" id="summary" name="summary" tt_onLoad="showSummary()" tt_pageStyleClass="NoControls" helpText="Summary">
</form>