<style type="text/css">
  
     
</style>
<div id="default" style="width: 90%;margin:auto; height: 400px; text-align: center; vertical-align: top;">

     <!-- <table style="width:100%">
              
              <tr>
                    <td style="width:80%">-->
                        <div id="buttons" style="display: inline ">

                              <div class="touch_btn" onmousedown="window.location = '/dc/closed?next_url=/dc/printed?next_url=/dc/manage_cases?next_url=/'" >
                                <div class="icon">
                                       <i class="fa fa-edit"></i>
                                </div>
                                <div class="button_label">All Printed</div>
                                <div class="button_description"> All printed record</div>

                                
                              </div>

                              <div class="touch_btn" onmousedown="window.location = '/dc/dc_printed?next_url=/dc/printed?next_url=/dc/manage_cases?next_url=/'" >
                                <div class="icon">
                                       <i class="fa fa-edit"></i>
                                </div>
                                <div class="button_label">Printed at DC</div>
                                <div class="button_description">  Register record at DC's office</div>

                                
                              </div>

                              <div class="touch_btn" onmousedown="window.location = '/dc/hq_printed?next_url=/dc/printed?next_url=/dc/manage_cases?next_url=/'" >
                                <div class="icon">
                                       <i class="fa fa-edit"></i>
                                </div>
                                <div class="button_label">Printed at HQ</div>
                                <div class="button_description">  Register record at DC's office</div>

                                
                              </div>
                            
                        </div>
</div>
<%= render :partial => "landing_resize" %>