<style type="text/css">
  
     
</style>
<div id="default" style="width: 90%;margin:auto; height: 400px; text-align: center; vertical-align: top;">
      <div id="buttons" style="display: inline ">
          <div class="touch_btn" onmousedown="window.location = '/view_special/Unnatural Deaths?next_url=/dc/special_cases'" >
            <div class="icon">
                <i class="fa fa-folder-open"></i>
            </div>
            <div class="button_label">Unnatural deaths</div>
                <div class="button_description"> </div>
          </div>
          <div class="touch_btn" onmousedown="window.location = '/view_special/Unclaimed bodies?next_url=/dc/special_cases'" >
            <div class="icon">
                <i class="fa fa-folder-open"></i>
            </div>
            <div class="button_label">Unclaimed bodies</div>
                <div class="button_description"> </div>
          </div>
          <div class="touch_btn" onmousedown="window.location = '/view_special/Missing Persons?next_url=/dc/special_cases'" >
            <div class="icon">
                <i class="fa fa-folder-open"></i>
            </div>
            <div class="button_label">Missing Persons</div>
                <div class="button_description"> </div>
          </div>
          <div class="touch_btn" onmousedown="window.location = '/view_special/Deaths Abroad?next_url=/dc/special_cases'" >
            <div class="icon">
                <i class="fa fa-folder-open"></i>
            </div>
            <div class="button_label">Death abroad</div>
                <div class="button_description"> </div>
          </div>
          
      </div>
       <div class="touch_btn" onmousedown="window.location = '/view_special_case_and_printed'" >
            <div class="icon">
                <i class="fa fa-folder-open"></i>
            </div>
            <div class="button_label">Printed/Dispatched Certificates</div>
                <div class="button_description"> </div>
          </div>
</div>
<%= render :partial => "landing_resize" %>