<script type="text/javascript" src="/javascripts/edrs.js"></script>
<%= form_for @user, :url => '/update_password', :method => :get do |f| %>

            <input type="hidden" id="user_id"> name="user_id" value="<%=  @user.id %>">

            <input class="input_cell" helpText="Old Password &lt;i style=&#39;color: red&#39;&gt;*&lt;/i&gt;" id="old_password" name="user[password]" placeholder="Old Password" required="required" type="password" tt_onLoad="checkAttempts()" tt_onUnLoad = "comfirmOld()"/>
 
              
        
            <input class="input_cell" helpText="New password &lt;i style=&#39;color: red&#39;&gt;*&lt;/i&gt;" id="user_new_password" name="user[new_password]" placeholder="new password" required="required" type="password" tt_onUnLoad = "samePassword();passwordLength()" />

            <input class="input_cell" helpText="Confirm Password &lt;i style=&#39;color: red&#39;&gt;*&lt;/i&gt;" id="user_confirm_password" name="user[confirm_password]" placeholder="confirm_password" required="required" type="password" tt_onLoad="overRideNext()"  />
            
       
</form>
<% end %>
<!--button id="btnAction" class="blue" style="position: absolute; right: 160px; bottom: 20px;" onclick="submitForm()">
   User
</button-->

<script>
      var invalid;

      function passwordLength(){
              var password = __$('touchscreenInput' + tstCurrentPage).value
              if(password.length != 0 && password.length < 6 ){
                    invalid = false;
                     setTimeout(function(){ 
                              showMessage("Password length is less than 6 characters", "Message");
                              gotoPage(tstCurrentPage - 1, false, true);

                     },100);
              }else{
                  invalid = true;
              }
        }


        function comfirmOld(){
              var old_password = __$('touchscreenInput' + tstCurrentPage).value.trim();
              var user_id = __$("user_id").value
              data = {
                      "user_id":user_id,
                      "old_password" : old_password
              }
              postAjax("/confirm_password", data, function(response){
                  console.log(response);
                  var response = JSON.parse(response).response;
                  if(response && eval(response)){

                  }else{
                    setTimeout(function(){ 
                              showMessage("Passord mismatch with Old password", "Message")
                              gotoPage(tstCurrentPage - 1, false, true); 

                    },500);
                  }
              })
               
        }

        function samePassword(){
                    var old_password = __$("old_password").value.trim();
                    var new_password = __$('touchscreenInput' + tstCurrentPage).value.trim();
                     

                    if(new_password == old_password)

                    {                        
                        setTimeout(function(){ 
                              showMessage("Please enter a new password, Passord matching with Old password", "Message")
                              gotoPage(tstCurrentPage - 1, false, true); 

                        },500)                
                    }
        }

        function overRideNext(){
              __$("nextButton").setAttribute("onmousedown", "comfirmPassword()")
        }
        function comfirmPassword(){
                    var new_password = __$("user_new_password").value.trim();
                    var confirm_password = __$('touchscreenInput' + tstCurrentPage).value.trim();


                    if(new_password == confirm_password){
                          gotoNextPage();
                    }else{
                      showMessage("Password not matching", "Message")
                    }
        }

        function checkAttempts(){
          
          <% if @password_attempt >= 5 %>
              __$("cancelButton").removeAttribute("onmousedown");
              __$("cancelButton").className = __$("cancelButton").className.replace("red","gray");
          <%end%>
        }       
        

</script>


        <div id="footer">
        </div>
      </div>
    </div>
  </body>
</html>
