<div id="default" style="width: 84%; height: 400px; text-align: center; vertical-align: top;margin:auto">
 <% if User.current_user.activities_by_level("Facility").include?("Create User")  %>

    <div class="touch_btn" onmousedown="window.location = '/people/form_container?url=<%= new_user_path%>&next_url=/users/'" >
                                <div class="icon">
                                       <i class="fa fa-user-plus"></i>
                                </div>
                                <div class="button_label">Add User</div>
                                <div class="button_description">  Add New User.</div>

                                
  </div>
 <%end %>

 <% if User.current_user.activities_by_level("Facility").include?("Deactivate User")  %>
     <div class="touch_btn" onmousedown="window.location = '/view_active'" >
              <div class="icon">
                                       <i class="fa fa-ban"></i>
              </div>
              <div class="button_label">Block User</div>
              <div class="button_description">  Block existing users.</div>

                                
    </div>
 <% end %>

  <% if User.current_user.activities_by_level("Facility").include?("Activate User")  %>
     <div class="touch_btn" onmousedown="window.location = '/view_blocked'" >
                                <div class="icon">
                                       <i class="fa fa-unlock-alt"></i>
                                </div>
                                <div class="button_label">Unblock</div>
                                <div class="button_description">  Give back access rights to blocked user</div>

                                
  </div>
<% end %>

<% if User.current_user.activities_by_level("Facility").include?("View Users")  %>

  <div class="touch_btn" onmousedown="window.location = '/view_users'" >
                                <div class="icon">
                                       <i class="fa fa-users"></i>
                                </div>
                                <div class="button_label">View Users</div>
                                <div class="button_description">  View system users</div>

                                
  </div>
<% end %>
</div>
<script type="text/javascript">
    function __$(id){
        return document.getElementById(id);
    }

    function resizeDiv(){
      var wH = window.innerHeight;
      
      __$("containt").style.height = (wH -(wH*0.15))+"px";
    }

    resizeDiv();
</script>