development: &development
  protocol: 'http'
  host: localhost
  port: 5984
  prefix: edrs 
  suffix: facility
  username: root
  password: password
  crtkey:
  facility_code:  
  district_code: LL
  exact_duplicate: true
  duplicate_service_url: 'http://localhost:3008'
  site_type: facility #facility | dc
test:
  <<: *development
  suffix: test

production:
  <<: *development
  protocol: 'http'
  suffix:
