development: &development
  protocol: 'http'
  host: localhost
  port: 5984
  prefix: edrs
  suffix: dc #facility
  username: admin
  password: password
  crtkey: password
  facility_code: '2926' 
  district_code:  #BT | LL | ZA
  exact_duplicate: true
  duplicate_service_url: 'http://localhost:3008'
  duplicate_score: 7
  site_type: dc #facility | dc | remote
  den_assignment_interval: 3

test:
  <<: *development
  suffix: test

production:
  <<: *development
  protocol: 'http'
  suffix:
