 crtkey: password
 facility_code: #'2926' 
 district_code:  #BT | LL | ZA
 exact_duplicate: true
 potential_duplicate: true # false when elasticsearch is not present
 use_mysql_potential_search: false
 duplicate_precision: 90 #percentage precision
 site_type: dc #facility | dc | remote
 den_assignment_interval: 3
 app_jobs_url: 'http://localhost:3321'
 app_gate_url:  #'http://localhost:3004'
 exclude: Chitipa,Lilongwe,Ntcheu,Blantyre
 show_keyboard_for_barcode: false
 include_lo_role: true
 restrict_same_creatials_for_multiple_users: true
 password_can_expire: false
 printer_name: ME,Printer2
 barcodes_path: /home/usr/barcodes/ 
 certificates_path: /home/usr/certificates/
 dispatch_path: /home/usr/dispatch/
 wkhtmltopdf: /usr/bin/wkhtmltopdf
 decentralized_printing: false
 print_qrcode: false
 qr_codes_path: /home/usr/qrcodes/