 crtkey: password
 facility_code: #'2926' 
 district_code:  #BT | LL | ZA
 exact_duplicate: true
 potential_duplicate: false # false when elasticsearch is not present
 duplicate_precision: 80 #percentage precision
 site_type: dc #facility | dc | remote
 den_assignment_interval: 3
 app_gate_url:  #'http://localhost:3004'