<script type="text/javascript">
	var start_date = "<%= params[:start_date] rescue ''%>";
	var end_date = "<%= params[:end_date] rescue ''%>";
	var time_line = "<%= params[:time_line] %>";
</script>
<style type="text/css">
	#report{
		width :100%;
		font-size: 1.4em;
		border-collapse: collapse;
        overflow: auto;

	}

	#report tr:nth-child(odd){
		background: #dcdbdb;

	}

	#report td, #report th {
		border : 1px solid lightgray;
		padding: 1em;
	}

	#report th {
		background: #4c79a3;
		color:#ffffff;
	}

	#statuses{
		list-style: none
	}
	#statuses li {
		font-size: 1.5em;
		display:  block;
		padding: 0.6em;
		border-bottom: 1px dotted lightgray;
	}

	#statuses li:hover {
		background: #9ec6e2;
	}
	#containt{
		height: calc(100-10px) !important;
	}

	#time_line{
		font-size: 1.2em;
		min-width: 100px;
		background: #dcdbdb;
		padding: 1%;
		border-radius: 10px;
		border: 1px solid lightgray;
	}

</style>
<table style="width:100%; margin-top: 1.5%;">
	<tr>
		<td style="width:30% ; font-size :1.6em;font-weight:bold;padding-left:4%">General Death Report</td>
		<td style="text-align:right"><button onclick="window.location.href ='/pick_dates?url=/death_reports&next_url=<%=params[:next_url]%>'"><span>Pick Dates</span></button></td>
	</tr>
	<tr>
			<table id="report">
				<tr>
				    <th>Category</th>
				    <th>Subcategory</th>
					<th>Male</th>
					<th>Female</th>
					<th>Total</th>
				</tr>

				<tr>
				    <td rowspan="5"; style="text-align:center"> Registration Types</td>
					<td style="text-align:center">Natural</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>

					<td style="text-align:center">Unnatural</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>

					<td style="text-align:center">Unclaimed</td>
                    <td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td style="text-align:center">Missing Person</td>
                    <td></td>
					<td></td>
					<td></td>
				</tr>

				<tr>
					<td style="text-align:center">Death Abroad</td>
                    <td></td>
					<td></td>
					<td></td>
				</tr>

				<tr>
				    <td rowspan="2"; style="text-align:center"; bgcolor="#FFFFFF"> Delayed Registration</td>
					<td style="text-align:center">Yes</td>
				    <td></td>
					<td></td>
					<td></td>
				</tr>

                <tr>
				    <td style="text-align:center">No</td>
					<td></td>
				   	<td></td>
					<td></td>
				</tr>

				<tr>
				    <td rowspan="3" style="text-align:center"; bgcolor="#FFFFFF"> Place of Death</td>
					<td style="text-align:center">Home</td>
				   	<td></td>
				  	<td></td>
					<td></td>
				</tr>

				<tr>
				    <td style="text-align:center">Health Facility</td>
					<td></td>
				    <td></td>
				    <td></td>
				</tr>

				<tr>
				    <td style="text-align:center">Other</td>
				 	<td></td>
				 	<td></td>
				 	<td></td>
			    </tr>
          </table>
	</tr>
</table>
<script>
	function __$(id){
        return document.getElementById(id);
    }

    function resizeDiv(){
      var wH = window.innerHeight;

      __$("containt").style.height = (wH * 0.81)+"px";
    }

    resizeDiv();

    function loadReport(element){
    	var list = __$("statuses").getElementsByTagName('li');
    	for(var i = 0 ; i < list.length ; i++){
    		list[i].style.background ="#ffffff";
    	}
    	element.style.background ="#9ec6e2";
    	var url ="/report_data/"+element.id;
    	if(start_date.length > 2){
    		__$("time_line").innerHTML = (new Date(start_date).format())+" to "+(new Date(end_date).format());
    		url = url + "?start_date="+start_date+"&end_date="+end_date;
    	}else{
    		url = url +"?timeline="+time_line;
    		__$("time_line").innerHTML = time_line;
    	}
    	status_map ={
				"Reported" :"NEW",
				"Registered" : "DC APPROVED",
				"Duplicates" :"DC DUPLICATE",
				"Printed" :"HQ CLOSED",
				"Dispatched" :"HQ DISPATCHED"
		}

    	ajaxGETRequest(url,function(data){
    		var data = JSON.parse(data);
    		__$('female').innerHTML = data.female;
    		__$('male').innerHTML = data.male;
    		__$('total').innerHTML = parseInt(data.male) + parseInt(data.female);
    	});
    }

    var reported = __$("Reported");

    loadReport(reported);
</script>
