
<style type="text/css">
  
     
</style>
<div id="default" style="width: 90%;margin:auto; height: 400px; text-align: center; vertical-align: top;">
    <div id="buttons" style="display: inline ">
          <div class="touch_btn" onmousedown="window.location = '/death_reports?time_line=Today&next_url=/reports?next_url=/'" >
                <div class="icon">
                    <i class="fa fa-bar-chart"></i>
                </div>
                <div class="button_label">Death reports</div>
                <div class="button_description">  Register person at facility.</div>                      
         </div>
        <% if User.current_user.role == "ADR"  %>
            <div class="touch_btn" onmousedown="window.location = '/voided_reports?time_line=Today&next_url=/reports?next_url=/'" >
                    <div class="icon">
                        <i class="fa fa-bar-chart"></i>
                    </div>
                    <div class="button_label">Report on voided cases</div>
                    <div class="button_description">  Register person at facility.</div>                      
             </div>
            <div class="touch_btn" onmousedown="window.location = '/lost_damaged_reports?time_line=Today&next_url=/reports?next_url=/'" >
                    <div class="icon">
                        <i class="fa fa-bar-chart"></i>
                    </div>
                    <div class="button_label">Report on Lost/Damaged</div>
                    <div class="button_description">  Register person at facility.</div>       
                  
             </div>
             <div class="touch_btn" onmousedown="window.location = '/amendment_reports?time_line=Today&next_url=/reports?next_url=/'" >
                    <div class="icon">
                        <i class="fa fa-bar-chart"></i>
                    </div>
                    <div class="button_label">Report on Amended cases </div>
                    <div class="button_description">  Register person at facility.</div>                      
             </div>
        <%end%>
    </div>
</div>
<%= render :partial => "/dc/landing_resize" %>