<form method="GET" action="<%= @url%>">
	<select id="time_line" name="time_line" helpText ="Select Timeline" tt_requireNextClick = "false">
		<option>Today</option>
		<option>Current week</option>
		<option>Current month</option>
		<option>Current year</option>
		<option>Date range</option>
	</select>
	<input type="" name="start_date" 
			helpText ="Select Start date" 
			field_type="date" tt_onLoad ="__$('Unknown').style.display='none'" 
			condition ="__$('time_line').value =='Date range'">
	<input type="" name="end_date" 
			helpText ="Select End date" 
			field_type ="date" tt_onLoad ="__$('Unknown').style.display='none'" 
			condition ="__$('time_line').value =='Date range'">
	<input type="hidden" name="next_url" value="<%=params[:next_url]%>">
</form>